body {
    margin: 0;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: white;
    background-color: rgba(18, 21, 38, 255);
}

.top-section {
    margin-top: 25px;
    margin-left: 25px;
    margin-right: 25px;
    display: flex;
    justify-content: center;
    height: 75px;
    gap: 1.4em;
}

.search-bar {
    display: flex;
    flex-grow: 1;
    background-color: rgb(33, 42, 75);
    align-items: center;
    justify-content: center;
    gap: 0.4em;
    max-width: 900px;
    min-width: 600px;
    border-radius: 10px;
}

.search-bar input {
    padding: 10px;
    text-align: center;
    width: 350px;
    border: none;
    border-radius: 10px;
    text-transform: uppercase;
    background-color: rgb(55, 67, 114);
    color: white;
}

.search-bar input:hover {
    background-color: rgb(92, 110, 182);
}

.search-bar input::placeholder {
    color: white;
    opacity: .5;
}

.search-bar input:focus-visible {
    outline: none;
}

.search-bar .search {
    background-color: rgb(55, 67, 114);
    color: white;
    padding: 10px;
    border-radius: 10px;
    border: none;
    cursor: pointer;
}

.search-bar .search:hover {
    background-color: rgb(92, 110, 182);
}

.sunrise-text,
.sunset-text {
    padding-top: 3px;
    align-self: center;
}

.side-bar-left {
    background-color: rgb(33, 42, 75);
    display: flex;
    flex-direction: column;
    background-color: rgb(33, 42, 75);
    width: 350px;
    min-width: 250px;
    border-radius: 10px;
}

.side-bar-right {
    background-color: rgb(33, 42, 75);
    display: flex;
    flex-direction: column;
    background-color: rgb(33, 42, 75);
    width: 350px;
    min-width: 250px;
    border-radius: 10px;
}

.mid-section {
    margin-top: 25px;
    margin-left: 25px;
    margin-right: 25px;
    display: flex;
    justify-content: center;
    height: 600px;
    gap: 1.4em;
}

.five-day {
    background-color: rgb(33, 42, 75);
    display: flex;
    flex-direction: column;
    background-color: rgb(33, 42, 75);
    width: 350px;
    min-width: 250px;
    border-radius: 10px;
}

.five-day-box {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    height: auto;
    overflow: hidden;
    border-bottom: 0.2em solid rgb(55, 67, 114);
    padding-bottom: 2px;
    margin-left: 3%;
    margin-right: 3%;
}

.five-day-box2 {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    height: auto;
    overflow: hidden;
    padding-bottom: 2px;
    margin-left: 3%;
    margin-right: 3%;
}

.FDB-top-container {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
}

.FDB-date {
    color: white;
    font-size: 14px;
}

.FDB-temp {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.FDB-high-temp {
    position: absolute;
    top: -12;
    color: white;
    font-weight: bold;
    font-size: 42px;
}

.FDB-low-temp {
    position: absolute;
    top: 38;
    color: rgb(204, 197, 197);
    font-weight: bold;
    font-size: 20px;
}

.FDB-middle-container,
.FDB-left-container {
    display: flex;
    position: relative;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 30%;
}

.FDB-right-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 30%;
}

.FDB-icon-container {
    display: flex;
    flex-direction: column;
    gap: 7px;
}

.FDB-info-container {
    gap: 7px;
    display: flex;
    flex-direction: column;
}

.FDB-windspeed,
.FDB-precip,
.FDB-weather-desc {
    color: white;
    font-size: 14px;
    font-weight: 100;
    white-space: nowrap;
}

.con-icons {
    color: white;
    margin: 10px;
}

.weather-map {
    display: flex;
    flex-grow: 1;
    background-color: rgb(33, 42, 75);
    align-items: center;
    justify-content: center;
    gap: 0.4em;
    max-width: 900px;
    min-width: 600px;
    border-radius: 10px;
}

.current-forecast {
    background-color: rgb(33, 42, 75);
    display: flex;
    flex-direction: column;
    width: 350px;
    min-width: 250px;
    border-radius: 10px;
}

.current-container-top {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 50%;
    gap: 10px;
}

.current-container-bot {
    display: flex;
    flex-direction: column;
    padding-top: 10%;
    height: 40%;
    margin-left: 5%;
    margin-right: 5%;
}

.current-temp {
    font-size: 52px;
}

.current-weather-desc,
.current-location {
    padding-top: 6px;
    font-size: 24px;
}

.data-label {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    padding-bottom: 6px;
    padding-top: 6px;
    border-bottom: 0.2em solid rgb(55, 67, 114);
}

.con-text {
    font-size: 16px;
    margin-left: 5%;
    margin-right: 5%;
}

.bot-section {
    margin-top: 25px;
    margin-left: 25px;
    margin-right: 25px;
    display: flex;
    justify-content: center;
    height: 150px;
    gap: 1.4em;
}

.bot-side-bar-left {
    background-color: rgb(33, 42, 75);
    display: flex;
    flex-direction: column;
    width: 350px;
    min-width: 250px;
    height: 175px;
    border-radius: 10px;
}

.air-quality-info-container {
    display: flex;
    flex-direction: column;
    height: 100%;
    padding-top: 1%;
    padding-left: 3%;
    padding-right: 3%;
    text-align: center;
}

.AQ-container-box {
    display: flex;
    flex-direction: row;
    justify-content: center;
    height: 100%;
    gap: 1em;
}

.O3 {
    flex-grow: 1;
}

.quality {
    flex-grow: 2;
}

.SO2 {
    flex-grow: 1;
}

.NO2 {
    flex-grow: 1;
}

.PM25 {
    flex-grow: 1;
}

.air-quality-text {
    align-self: center;
    font-size: 16px;
    font-weight: 400;
    border-radius: 10px;
    padding: 5px;
    background-color: rgb(55, 67, 114);
}

.air-quality {
    align-self: center;
    font-size: 16px;
    font-weight: 400;
    border-radius: 10px;
    padding: 5px;
    line-height: 28px;
    background-color: rgb(55, 67, 114);
}

.bot-side-bar-right {
    background-color: rgb(33, 42, 75);
    display: flex;
    flex-direction: column;
    background-color: rgb(33, 42, 75);
    height: 175px;
    width: 350px;
    min-width: 250px;
    border-radius: 10px;
}

.alert-container {
    display: flex;
    flex-direction: column;
    overflow-y: scroll;
}

.alert-container::-webkit-scrollbar {
    display: none;
}

.alert-template {
    display: flex;
    flex-direction: column;
    padding-top: 6px;
    align-self: center;
    width: 94%;
    border-bottom: 0.2em solid rgb(55, 67, 114);
}

.time-container {
    display: flex;
    justify-content: space-between;
    padding-left: 15px;
}

.event-text {
    align-self: center;
    padding-top: 2px;
    background-color: orangered;
    text-align: center;
    width: 100%;
}

.extended-forecast {
    display: flex;
    flex-grow: 1;
    background-color: rgb(33, 42, 75);
    align-items: center;
    justify-content: center;
    gap: 0.4em;
    max-width: 900px;
    min-width: 600px;
    height: 175px;
    border-radius: 10px;
}

.hour-container {
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 100%;
    height: 90%;
    flex-direction: column;
    border-right: 0.2em solid rgb(55, 67, 114);
}

.hour-container2 {
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 100%;
    height: 90%;
    padding-bottom: 4px;
    flex-direction: column;
}

.hour-info-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.hour-weather-precip,
.hour-time {
    font-size: 16px;
    font-weight: 100;
    white-space: nowrap;
}

.hour-weather-temp {
    font-size: 20px;
    font-weight: 100;
    white-space: nowrap;
}

.text {
    padding-top: 6px;
    font-size: 20px;
    text-align: center;
    color: white;
    font-weight: bold;
    border-bottom: 0.2em solid rgb(55, 67, 114);
    margin-left: 3%;
    margin-right: 3%;
}

@media only screen and (max-width: 1150px) {
    .top-section {
        flex-direction: column;
        height: auto;
        align-items: center;
    }
    .search-bar {
        width: 600px;
        height: 75px;
        order: 3;
    }
    .side-bar-left {
        width: 600px;
        order: 1;
    }
    .side-bar-right {
        width: 600px;
        order: 2;
    }
    .mid-section {
        display: flex;
        flex-direction: column;
        height: auto;
        align-items: center;
    }
    .five-day {
        order: 3;
        width: 600px;
        padding-bottom: 15px;
    }
    .weather-map {
        width: 600px;
        height: 600px;
        order: 1;
    }
    .current-forecast {
        width: 600px;
        padding-bottom: 15px;
        order: 2;
    }
    .bot-section {
        display: flex;
        flex-direction: column;
        height: auto;
        align-items: center;
        margin-bottom: 25px;
    }
    .bot-side-bar-left {
        order: 3;
        padding-bottom: 5px;
        width: 600px;
    }
    .bot-side-bar-right {
        order: 2;
        padding-bottom: 10px;
        width: 600px;
    }
    .extended-forecast {
        order: 1;
        padding-bottom: 10px;
        padding-top: 10px;
        width: 600px;
    }
    .AQ-container-box {
        padding-top: 10px;
        padding-bottom: 10px;
    }
}

@media only screen and (max-width: 650px) {
    .side-bar-left,
    .side-bar-right {
        width: 100%;
        min-width: 350px;
        padding-bottom: 5px;
    }
    .search-bar {
        width: 100%;
        min-width: 350px;
        min-width: 350px;
    }
    .search-bar input {
        width: 275px;
    }
    .current-forecast {
        width: 100%;
        min-width: 350px;
        padding-bottom: 10px;
    }
    .five-day {
        width: 100%;
        min-width: 350px;
        padding-bottom: 10px;
    }
    .weather-map {
        width: 100%;
        min-width: 350px;
        height: 350px;
        padding-bottom: 10px;
    }
    .bot-side-bar-left,
    .bot-side-bar-right {
        width: 100%;
        min-width: 350px;
        padding-bottom: 10px;
    }
    .extended-forecast {
        flex-direction: column;
        width: 100%;
        min-width: 350px;
        height: 100%;
        padding-bottom: 10px;
    }
    .hour-container {
        border-right: 0px;
        border-bottom: 0.2em solid rgb(55, 67, 114);
        padding-bottom: 6px;
        width: 94%;
    }
    .hour-info-container {
        flex-direction: row;
        justify-content: space-evenly;
        align-items: center;
        width: 100%;
        padding-top: 3px;
    }
    .hour-weather-temp {
        order: 1;
    }
    .hour-weather-icon {
        order: 2;
    }
    .hour-weather-precip {
        order: 3;
    }
    .hour-weather-temp {
        font-size: 32px;
    }
    .hour-weather-precip {
        font-size: 20px;
    }
}